// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.details {
    background-color:
    #AFC0D4;
    width: 50%;
    height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    border-color:
    orange;
    border-style: solid;
    font-size: 20px;
}